In [2]:
import pandas as pd
import yfinance as yf

In [3]:
gamestop = yf.Ticker("GME")

In [5]:
gamestop_info=gamestop.info

In [6]:
gamestop_share_price_data = gamestop.history(period="max")

In [7]:
gamestop_share_price_data.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2002-02-13,1.620129,1.693350,1.603296,1.691667,76216000,0.0,0.0
2002-02-14,1.712707,1.716074,1.670626,1.683250,11021600,0.0,0.0
2002-02-15,1.683250,1.687458,1.658001,1.674834,8389600,0.0,0.0
2002-02-19,1.666418,1.666418,1.578047,1.607504,7410400,0.0,0.0
2002-02-20,1.615920,1.662210,1.603296,1.662210,6892800,0.0,0.0

In [8]:
gamestop_share_price_data.reset_index(inplace=True)

In [11]:
df = pd.DataFrame({'Date': ['2002-02-13','2002-02-14', '2002-02-15', '2002-02-19', '2002-02-20'],
                   'Open': [1.620129, 1.712707, 1.683250, 1.666418, 1.615920   ],
                   'High': [1.693350, 1.716074, 1.687458, 1.666418, 1.662210],
                   'Low': [1.603296, 1.670626, 1.658001, 1.578047, 1.603296],
                   'Close': [1.691667, 1.683250, 1.674834, 1.607504, 1.662210],
                   'Volume': [76216000, 11021600, 8389600, 7410400, 6892800],
                   'Dividends': [0, 0, 0, 0, 0],
                   'Stock Splits': [0.0, 0.0, 0.0, 0.0, 0.0]})

In [12]:
print(df)

         Date      Open      High       Low     Close    Volume  Dividends  \
0  2002-02-13  1.620129  1.693350  1.603296  1.691667  76216000          0
1  2002-02-14  1.712707  1.716074  1.670626  1.683250  11021600          0
2  2002-02-15  1.683250  1.687458  1.658001  1.674834   8389600          0
3  2002-02-19  1.666418  1.666418  1.578047  1.607504   7410400          0
4  2002-02-20  1.615920  1.662210  1.603296  1.662210   6892800          0

   Stock Splits
0           0.0
1           0.0
2           0.0
3           0.0
4           0.0