In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect('INSTRUCTOR.DB')

In [3]:
cursor_obj = conn.cursor()

In [16]:
cursor_obj.execute("DROP TABLE IF EXISTS INSTRUCTOR")

In [17]:
table = """ create table IF NOT EXISTS INSTRUCTOR(ID INTEGER PRIMARY KEY NOT NULL, FNAME VARCHAR(20), LNAME VARCHAR(20), CITY VARCHAR(20), CCODE CHAR(2));"""
cursor_obj.execute(table)
print("Table is Ready")

Table is Ready

In [18]:
cursor_obj.execute('''insert into INSTRUCTOR values (1, 'Rav', 'Ahuja', 'TORONTO', 'CA')''')

In [19]:
cursor_obj.execute(''' insert into INSTRUCTOR values (2, 'Raul', 'Chong', 'Markham', 'CA')''')

In [20]:
statement = '''SELECT * FROM INSTRUCTOR'''
cursor_obj.execute(statement)

print("All the data")
output_all = cursor_obj.fetchall()
for row_all in output_all:
    print(row_all)

All the data
(1, 'Rav', 'Ahuja', 'TORONTO', 'CA')
(2, 'Raul', 'Chong', 'Markham', 'CA')

In [21]:
statement = '''SELECT * FROM INSTRUCTOR'''
cursor_obj.execute(statement)
  
print("All the data")
output_many = cursor_obj.fetchmany(2) 
for row_many in output_many:
  print(row_many)

All the data
(1, 'Rav', 'Ahuja', 'TORONTO', 'CA')
(2, 'Raul', 'Chong', 'Markham', 'CA')

In [22]:
statement = '''SELECT FNAME FROM INSTRUCTOR'''
cursor_obj.execute(statement)
  
print("All the data")
output_column = cursor_obj.fetchall()
for fetch in output_column:
  print(fetch)

All the data
('Rav',)
('Raul',)

In [25]:
statement = '''SELECT * FROM INSTRUCTOR'''
cursor_obj.execute(statement)

print("All the Data")
output1 = cursor_obj.fetchmany(2)
for row in output1:
    print(row)

All the Data
(1, 'Rav', 'Ahuja', 'TORONTO', 'CA')
(2, 'Raul', 'Chong', 'Markham', 'CA')

In [28]:
import pandas as pd
df =pd.read_sql_query("SELECT * FROM INSTRUCTOR;", conn)

In [29]:
print(df)

   ID FNAME  LNAME     CITY CCODE
0   1   Rav  Ahuja  TORONTO    CA
1   2  Raul  Chong  Markham    CA

In [34]:
df.LNAME[1]

'Chong'

In [35]:
df.shape

(2, 5)

In [36]:
conn.close()